### Phone Numbers Validation Tool using NumVerify API

LI LIU

10/26/18: basic framework

10/27/18: add multiple conditions for verifying valid numbers

In [27]:
import pandas as pd

In [28]:
#Delete first two rows in excel
#Read in file
Num = pd.read_excel('PhoneSurvey.xlsx', names=['ID','Phone','Response','Party','Age'])

In [29]:
#Code 267 for Philly!
Num["Code"]=267
Num["PN"]=Num["Code"].astype(str)+Num["Phone"].astype(str)
Num.head()

   ID    Phone  Response  Party  Age  Code          PN
0   1  4310454       NaN    NaN  NaN   267  2674310454
1   2  6920338       NaN    NaN  NaN   267  2676920338
2   3  6918070       NaN    NaN  NaN   267  2676918070
3   4  3605305       NaN    NaN  NaN   267  2673605305
4   5  8892229       NaN    NaN  NaN   267  2678892229

### Go to https://numverify.com/documentation
### Create a free account to get access key (up to 250 API requests)

In [30]:
import urllib.request, json 
list=[]
#Replace with access key
key = "#############"
def validtest(number):
    link="http://apilayer.net/api/validate?access_key="+key+"&number="+number+"&country_code=US&format=1"
    with urllib.request.urlopen(link) as url:
         data = json.loads(url.read().decode())
         #Specify conditions for valid numbers
         if data["valid"]==True and data['carrier'] !='' and data['location'] !='' and data['line_type'] !='':
            list.append(1)
         else:
            list.append(0)
                
    return data

In [31]:
for num in Num["PN"]:
    validtest(num)

In [32]:
res= pd.Series(list)
Num["Label"]=res.values

In [38]:
#Counts of valid numbers
sum(list)

60

In [37]:
#Test single number
#validtest("my number")

In [35]:
Num.head()

   ID    Phone  Response  Party  Age  Code          PN  Label
0   1  4310454       NaN    NaN  NaN   267  2674310454      1
1   2  6920338       NaN    NaN  NaN   267  2676920338      0
2   3  6918070       NaN    NaN  NaN   267  2676918070      0
3   4  3605305       NaN    NaN  NaN   267  2673605305      0
4   5  8892229       NaN    NaN  NaN   267  2678892229      1

In [36]:
Num.to_excel('data.xlsx')